# See https://help.github.com/ignore-files/ for more about ignoring files.

# musics
/music
/__pycache__

bpm_detector.py
overlay.py
converter.py
musicMaker.py
generate_exe.bat
desktop.ini
interval.mp3
